.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
}
/* shared style */

.display-flex{
  display: flex;
}
/* dark03 */
.dark03{
    color: #727272;
}

.bg-light{
 background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    padding-top: 100px;
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
  margin-bottom: 32px;
}
.banner-image{
    width: 100%;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin: 130px 0;
  padding: 0 20px;
}

.section-title{
  font-size: 2.8rem;
  margin-bottom: 24px;
}
/* team and feature */
.teams{
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
gap: 20px;
}
.our-features{
  margin-left: 130px;
  max-width: 540px;
}

#quick-text{
  font-weight: 500;

}
#bold-text{
  font-weight: bold;
}
#orange{
  color: #FF900E;
  font-weight: bold;
}
.feature-description{
  line-height: 26px;
  margin-bottom: 32px;
}
/* Features sections */
#tit{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}
.features{
  display: flex;
  gap: 140px;

}

.feature-card{
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}
.feature-title{
  font-weight: 600;
  font-size: 1.25rem;
margin-bottom: 10px;
}
.feature-p{
  line-height: 26px;
}
#badge{
  padding: 45px 42px;
  margin-left: -92px;
  margin-top: -100px;

}
#year{
  font-size: 4rem;
  font-weight: bold;
}
#exp{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 40px;
}
/* some fact related style */

.fact-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 50px;
  justify-items: center;
}
.fact-card{
  border: 1px solid #FF900E;
  margin-top: 68px;
  width: 240px;
  height: 240px;
  border-radius: 8px;
display: flex;
text-align: center;
justify-content: center;
align-items: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
margin-top:5px;
margin-bottom: 10px;
}
.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
}

/* sponsor related styles */
.sponsor-info{
  text-align: center;
}
.sponsor-company{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 50px;
  justify-items: center;
  align-items: center;
}

.sponsor-company img{
  filter: grayscale(100%);
}
/* responsive media query */
@media screen and (max-width:576px){
  .nav-links{
    margin: 10px 5px 10px 5px;
  }
  .nav-item:hover{
    color:blue;
  }
  .nav-item{
   
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 5px;
  }
.navbar, .nav-links, .teams{
  flex-direction: column;
}  
.team-img-container, .fact-container, .sponsor-company , .features{
  display: grid;
  grid-template-columns: repeat(1,1fr);
gap: 20px;
}
.our-features{
 margin: 0;
}
.features{
  margin: 0 auto;
}
.section-title{
  font-size: 2rem;
  margin-bottom: 24px;
}
.sponsor-company{
  justify-items: center;
  gap: 50px;
}
#mohila, .achivement{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#badge{
  padding: 15px 14px;
margin: 30px auto;
}
}
/* medium devices */
@media screen and (min-width:577px) and (max-width:992px) {
  .teams{
    flex-direction: column;
  }
  .our-features{
    margin: 20px auto;
  }
  .sponsor-company, .fact-container{
  grid-template-columns: repeat(2,1fr);
  gap: 50px;
}

}
